.vs/
*.user
*.suo
*.opendb
*.VC.db
*.log
Debug/
Release/
x64/
x86/
*.obj
*.exe
/XO project/XO project.vcxproj
/XO project/XO project.vcxproj.filters
/XO project/XO project.vcxproj
/XO project/XO project.vcxproj.filters